<launch>
    <arg name="namespace"   default="$(env UAV_NAMESPACE)"/>
    <arg name="carrot_out"     default="carrot/trajectory"/>
    <arg name="pid_in"          default="carrot/trajectory"/>
    <arg name="odometry"            default="vrpn_client/estimated_odometry"/>
    <arg name="msf_callback_enable"     default="true"/>
    <arg name="manual_takeoff"  default="true"/>
    <arg name="control_type" default="pid_cascade_node"/>

    <include file="$(find uav_ros_control)/launch/carrot_reference.launch">
        <arg name="namespace" value="$(arg namespace)"/>
        <arg name="ref" value="$(arg carrot_out)"/>
        <arg name="odom" value="$(arg odometry)"/>
        <arg name="manual_takeoff"  default="$(arg manual_takeoff)"/>
    </include>
    
    <include file="$(find uav_ros_control)/launch/position_control.launch">
        <arg name="msf_callback_enable"     value="$(arg msf_callback_enable)"/>
        <arg name="namespace" value="$(arg namespace)"/>
        <arg name="traj_ref" value="$(arg pid_in)"/>
        <arg name="odom" value="$(arg odometry)"/>
        <arg name="control_type" value="$(arg control_type)"/>
    </include>
</launch>
